---

interface Props {
    title: string;
    description?: string;
}
const {title, description} = Astro.props;
const base = import.meta.env.BASE_URL;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href={base + "/gopher-favicon.png"} />
<link rel="icon" href={base + "/favicon.ico"} />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description}>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Onest:wght@300..900&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400..700&display=swap" rel="stylesheet" />
<title>{title}</title>